/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    padding: 15px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}


/* About Section */
.law-img {
    max-width: 80%;
    height: 60%;
    border-radius: 10px;
}

